@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

body {
  background: #202020;
  font-family: Roboto;
  width: 100vw;
  overflow: hidden;
}

header {
  position: fixed;
  width: 100vw;
  padding: 10px 15px 0;
  display: flex;
  background: #202020;
}

.hamburger {
  padding: 10px;
  width: 20px;
  border-radius: 50%;
}

.hamburger div {
  border: 1px solid white;
  height: 0;
  width: 18px;
  margin: 3px 0;
}

#yt-logo {
  margin: 10px 15px;
  height: 30px;
  width: 100px;
}

#searchbox {
  background: #121212;
  height: 30px;
  width: 550px;
  border: none;
  color: #d9d9d9;
  font-size: 17px;
  margin: 10px 0 0 250px;
  padding: 0px 10px;
  border: 1px solid #313131;
  box-sizing:border-box;
}

input:focus {
  outline: none;
}

#searchButton {
  height: 30px;
  padding: 5px;
  width: 70px;
  background: #313131;
  border: none;
  margin: 10px 0;
}
#searchContainer {
  margin: -5px 0 0 0;
  display: flex;
}

#voiceButton {
  background: #181818;
  border: none;
  height: 35px;
  width: 35px;
  padding:5px 5px 5px 6px;
  border-radius: 50%;
  margin: 7px 10px;
}

#moreApps, #options {
  height: 25px;
  width: 25px;
  margin: 5px 0 0 250px;
}

#options {
  margin-left: 20px;
  margin-right: 20px;
}

#sign-in {
  background: none;
  display: flex;
  height:40px;
  line-height: 30px;
  padding: 5px 10px; 
  color: #3EA6FF;
  border: 1px solid #3EA6FF;
  border-radius: 2px;
  font-weight: 700;
}

#sign-in span {
  margin: 0 0 0 10px;
}

.sideMenu {
  position:fixed;
  width: 15vw;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin: 70px 0 0 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 5px;
}

.adjustItems {
  height: 40px;
  width: 97%;
  box-sizing: border-box;
  padding: 8px 20px 5px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 15px;
  /* letter-spacing: 1px; */
}

.adjustItems svg, .extraIcons {
  margin-right: 10px;
  width: 20%;
}

.adjustItems:focus {
  background: #383838;
  outline: none;
}

.sideMenu hr, #containerDiv hr {
  border: 1px solid #383838; 
  width: 90%;
  margin: 10px 0;
}

#containerDiv hr {
  width: 100%;
}

.extraIcons {
  margin-right: 23px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.subHeadings {
  margin: 5px 25px;
  color: #A7A7A7;
}

#sideFooter {
  color: #8a8a8a;
  font-size: 13px;
  width: 80%;
  word-spacing: 8px;
  line-height: 15px;
  margin-bottom: 20px;
}

#bodyStarts {
  width: 100%;
  border: 1px solid #383838; 
  position: fixed;
  top: 50px;
}

#contentBox {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 15vw;
  display: flex;
  flex-direction: column;
}

#suggestionBar {
  padding: 0;
  margin: 5px 25px 15px;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #efefef;
  width: 111vw;
  height: 30px;
  
}

#containerDiv::-webkit-scrollbar-thumb {
  background: none;
}

#containerDiv {
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden; 
  position: fixed;
  top: 68px;
}

.suggestItems {
  list-style-type: none;
  font-size: 15px;
  padding: 5px 15px;
  margin: 0 5px;
  background: #373737;
  border-radius: 40px;
}

#containsMain {
  background: #181818;
  height: 83vh;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 120px;
  padding: 20px;
  box-sizing: border-box;
}

#containsMain article {
  display: flex;
}

.videoCard {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-right: 15px;
  cursor: pointer;
}

.coverImage {
  height: 170px;
  margin: 0 0 10px 0;
}

.profileImage {
  height: 35px;
  width: 35px;
  float: left;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.titleText {
  width: 95%;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.textInfo {
  display: flex;
  flex-direction: row;
}

.textCont {
  display: flex;
  flex-direction: column;
}

.author, .views {
  color: #9f9f9f;
  font-size: 14px;
  display: inline;
  text-decoration: none;
}

.author::after {
  display: none;
  content: "Kevin Powell";
  position: relative;
  margin: -80px;
  top: -40px;
  color: #d4dfe6;
  background: #595959;
  padding: 5px;
  border-radius: 4px;
}

.author {
  width: 80px;
}

.author:hover {
  color: #797979;
}

.author:hover::after {
  display:inline;
}

.flexboxContainer {
  margin-bottom: 50px;
}

.flexboxContainer:last-child {
  margin-bottom: 0;
}

/* video page */

#primary-video-container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: #181818;
  height: calc(100vh - 65px);
  margin-top: 65px;
  font-family: 'Heebo', sans-serif;
  color: white;
  font-size: 0.88em;
  letter-spacing: 0.6px;
  
}

#primary-video, #video-details {
  margin: 20px 20px 20px 100px;
}

.secondary-video-container {
  display: flex;
  flex-direction: row;
}

.video-content-info {
  display: flex;
  flex-direction: column;
}

.loading {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 5px solid gray;
  border-top: 5px solid darkgray;
  animation: load 2s linear forwards;
  margin: 5px auto;
}

#video-details{
  margin-top: 0;
}

#video-details h2{
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0;
  margin:0;
}

#video-details p {
  letter-spacing: 0;
  font-size: 14px;
  color: #aaa;
  margin: 10px 0;
}

#views-and-buttons {
  display: flex;
  justify-content:space-between;
}

#videoInfo {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 65px auto;
  width:960px;
}

#video-info-profile {
  display: flex;
  justify-content: space-between;
}

#subscribe-button {
  padding: 10px 15px;
  max-height: 40px;
  background: #cc0000;
  border: none;
  font-weight: 600;
  color: white;
}

#videoInfo .infoDetails  {
  margin: 15px 0 0 0;
}


@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
